.logo {
    width: 2rem;
    height: 2rem;
}

.nav-btn{
    color:white;
    background-color: gray;
    border: none;
}

.navbar {
    background-color: gray;
    color: white;
    margin-bottom: 2rem;
}

button.btn.btn-outline-success.my-2.my-sm-0 {
    border: solid 1px white;
    color: white;
}

a#navbarDropdown {
    color: white;
}

.main-content {
    margin-top: 5rem;
}
.price {
    font-weight: bold;  
}

h4 {
    text-decoration: underline gray;

}

.nav-tabs .nav-link {
    border-top: 4px solid transparent;
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
}
.nav-tabs {
    border-bottom: none;
}

/* adds margin to the top of decription tab */
.nav {
    margin-top: 2rem;
}

/* changes the tabs to same color */
.info-toggle {
    color: black;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
}

.nav-link {
    color: #495057;
}



/* adds a border and padding to top of descriptions */
.tab-pane {
    border-top: solid 1px gray;
    margin-top: 1.25rem;
    padding: .25rem;
}

.similar-items {
    height: 200px;
    width: 200px;
}

.potato-carousel-img {
    height: 300px;
    width: 240px;
}

.footer {
    height: 5rem;
    background-color: rgb(35, 160, 0);
    margin-top: 2rem;

}

.footer-text {
    text-align: center;
    padding-top: 2rem;
    color: white;
}

.product-info {
    margin-top: 2rem;
}

.modal-backdrop {
   display: none;
}

h5#exampleModalLongTitle {
    color: black;
}

.label-copy {
    color: black;
}

#topAlert{
    background: bisque;
    color: black;
    margin-bottom: 0rem;
}